@import '@speed-highlight/core/themes/dark.css';

.shj-lang-js {
  padding: 0;
  margin: 0;
  overflow: auto;
  /* background: transparent !important; */
  /* word-break: normal !important; */
  /* overflow-wrap: normal !important; */
}

.editor-font,
.shj-lang-js {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.6;
}

.shj-syn-kwd {
  /* Remove the color from keywords */
  color: unset;
}
